
.heading{
  color: #4E9F3D;
  font-size: 5rem;
}
body, html {
  overflow: hidden;
  background: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40vw;
  height: 54vw;
	max-width: 350px;
	max-height: 520px;
	min-height: 520px;
	min-width: 170px;
  border: 1px solid black;
  border-radius: 45px;
  animation-name: pulse;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.sub-container {
  margin: 20px;
}

#display {
	resize: none;
  text-align: right;
  line-height: 100%;
	font-size: 6vw;
  background-color: #191A19;
  color: #4E9F3D;
  border: 1px solid black;
  border-radius: 25px 25px 0 0;
  width: 98.2%;
  height: 15vw;
	max-height: 140px;
	min-height: 140px;
}

#display:focus {
  outline: none;
}

#display:hover {
	cursor: default;
}

.row-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.buttons {
  height: 30vw;
	width: auto;
	max-height: 290px;
	min-height: 290px;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
}

.btn {
	font-family: monospace;
	font-size: 16px;
  border: 1px solid black;
  color: #4E9F3D;
  background-color: #191A19;
}

#clear {
  width: 75%;
  height: 3.2vw;
	max-height: 39px;
	min-height: 39px;
  margin-top: -2px;
}

#delete {
	width: 25%;
	height: 3.2vw;
	max-height: 39px;
	min-height: 39px;
	margin-top: -2px;
}

#radius-left {
  border-radius: 0 0 0 25px;
}

#radius-right {
  border-radius: 0 0 25px 0;
}

.hov:hover {
  background-color: #19282F;
}

.hov:active {
  background-color: #19282F;
}
